<!DOCTYPE html>
<html>
<head>
    <%-include("layout/head.ejs",{title:"Danh muc san pham"})%>
    <link rel="stylesheet" href="/static/site/css/category.css">
</head>
<body>

<!--	Header	-->
<%-include("layout/header.ejs")%>
<!--	End Header	-->

<!--	Body	-->
<div id="body">
	<div class="container">
    	<div class="row">
        	<div class="col-lg-12 col-md-12 col-sm-12">
            	<%-include("layout/menu.ejs")%>
            </div>
        </div>
        <div class="row">
        	<div id="main" class="col-lg-8 col-md-12 col-sm-12">
            	<!--	Slider	-->
                <%-include("layout/slide.ejs")%>
                <!--	End Slider	-->

                <div class="col-md-8" style="margin-top: 16px;">
                    <span><b>Ưu tiên xem: </b></span>
                    <div class="btn-group btn-group-toggle" id="myDIV">
                        <a class="btn mr-2 disabled"><b>Mới nhất</b></a>
                        <a id="btn1" type=submit class="btn btn-primary mr-2 rounded" active autocomplete="off" role="button" href="/sort-<%=category.slug%>-<%=category.id%>-outstanding" data-value="ban-chay-nhat" .button>Nổi bật</a>
                        <a id="btn1" class="btn btn-primary mr-2 rounded " autocomplete="off" role="button" href="/sort-<%=category.slug%>-<%=category.id%>-cheap" data-value="gia-thap-den-cao">Giá thấp</a>
                        <a id="btn1" class="btn btn-primary rounded" autocomplete="off" role="button" href="/sort-<%=category.slug%>-<%=category.id%>-expensive" data-value="gia-cao-den-thap">Giá cao</a>
                    </div>
                </div>

                <!--	List Product	-->
                <div class="products">
                    <h3><%=category.title%> (hiện có <%=totals%> sản phẩm)</h3>
                    <div class="product-list card-deck">
                        <%for(let product of products){%>
                            <%-include('./component/product-item.ejs',{
                                product:product
                             })%>
                        <%}%>
                    </div>
                </div>
                <!--	End List Product	-->
                
                <div id="pagination">
                    <ul class="pagination">
                        <%if(page>1){%>
                        <li class="page-item"><a class="page-link" href="/category-<%=category.slug%>.<%=category.id%>?page=<%=page-1%>">Trang trước</a></li>
                        <%}%>
                        <%for(x in pages){%>
                            <%if(pages[x]!=='...'){%>
                                <li class="page-item <%if(page===pages[x]){%> return active<%}%>">
                                    <a class="page-link" href="/category-<%=category.slug%>.<%=category.id%>?page=<%=pages[x]%>"><%=pages[x]%></a>
                                </li>
                            <%}else{%>
                                <li class="page-item" onclick="return false">
                                    <a class="page-link" href="/category-<%=category.slug%>.<%=category.id%>?page=<%=pages[x]%>"><%=pages[x]%></a>
                                </li>
                            <%}%>
                        <%}%>
                        <%if(page<totalPage){%>
                        <li class="page-item"><a class="page-link" href="/category-<%=category.slug%>.<%=category.id%>?page=<%=page+1%>">Trang sau</a></li>
                        <%}%>
                    </ul> 
                </div>
                
            </div>
            
            <%-include("layout/sidebar.ejs")%>
        </div>
    </div>
</div>
<!--	End Body	-->

<%-include("layout/footer.ejs")%>
<!--	End Footer	-->
<script>
$('#btn1').on('click', function (e) {
    console.log(1)
    $('#btn1').each(function () {
        $(this).addClass('active');
    })
    console.log(1);
});
</script>
</body>
</html>
